<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello_world"
        tools:targetApi="31">
        <activity
            android:name=".FileIoActivity"
            android:exported="true" />
        <activity
            android:name=".WeChatActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityB"
            android:exported="true" />
        <activity
            android:name=".ActivityA"
            android:exported="true" />
        <activity
            android:name=".RecyclerListActivity"
            android:exported="true" />
        <activity
            android:name=".MultiChoiceDialogActivity"
            android:exported="true" />
        <activity
            android:name=".SingleChoiceDialogActivity"
            android:exported="true" />
        <activity
            android:name=".AlertDialogActivity"
            android:exported="true" />
        <activity
            android:name=".Check_BoxActivity"
            android:exported="true" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="true" />
        <activity
            android:name=".ImageActivity"
            android:exported="true" />
        <activity
            android:name=".EditTextActivity"
            android:exported="true" />
        <activity
            android:name=".ButtonActivity"
            android:exported="true" />
    </application>

</manifest>